/*==---------------------------------------------------------====
    Legacy Styles
====---------------------------------------------------------==*/
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 2em 0;
    padding: 0;

    li {
        width: 100px;
        margin: 0.35em
    }
    img {
        max-width: 100%;
    }
}